.showTime {
    &_header, &_footer {
        padding-top: 120px;
        background: url(../../../assets/img/back-news.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.ant-tabs-nav {
    // width: 300px;
}

.ant-tabs-tab {
    padding: 5px 10px !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    span {
        background:rgb(252, 79, 79) !important; 
        font-weight: bold !important;;
    }
    & p:nth-child(1) {
        color: red;
    }
    & p:nth-child(2) {
        color: green;
    }

}


.infor_phim_item {
    .lich_chieu_list {
        flex-wrap: wrap;
        .lich_chieu_item {
            padding:7px;
            border: 1px solid rgba(29, 233, 202, 0.5);
            margin-top: 15px;
            margin-left: 10px;
            background-color: rgb(177, 171, 171);
            border-radius:4px;
            display: flex;
            align-items: center;
            a {
                color: white;
            }
        }
    }
}


.phim_name {
    color: $color-red-primary;
}