@mixin styleText($textColor, $fontSize) {
    color: $textColor;
    font-size: $fontSize;
  }
  @mixin styleButton($bgColor, $borderColor, $pd-y, $pd-x, $radius) {
    background: $bgColor;
    border: 1px solid $borderColor;
    padding: $pd-y $pd-x;
    border-radius: $radius;
  }

  @mixin btnHover($bgColor, $borderColor, $txtColor) {
    background: $bgColor;
    border-color: $borderColor;
    color: $txtColor;
    transition: all 0.3s;
  }